##########################################
# 💻 Python & Virtual Environments
##########################################
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
.Python
env/
.venv/
ENV/
env.bak/
venv.bak/
.pdm-python
.pdm-build/
__pypackages__/

##########################################
# 🔐 Environment & Configuration
##########################################
.env
.envrc
*.env

##########################################
# 🐍 Python Build, Packaging & Installer Logs
##########################################
build/
dist/
downloads/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
MANIFEST

##########################################
# 🧪 Testing, Coverage & Type Checking
##########################################
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

##########################################
# 📁 Editor & IDE Settings
##########################################
.vscode/
.spyderproject
.spyproject
.ropeproject
.idea/

##########################################
# 🐘 OS-specific files
##########################################
.DS_Store
Thumbs.db

##########################################
# 🐋 Docker
##########################################
*.log
*.pid

##########################################
# ⚙️ Terraform
##########################################
*.tfstate
*.tfstate.*
.terraform/
crash.log

##########################################
# ⚙️ CI/CD Tools
##########################################
.pypirc
.ruff_cache/
.cursorignore
.cursorindexingignore

##########################################
# 📚 Documentation tools
##########################################
docs/_build/
.site/

##########################################
# 🔬 Project-specific
##########################################
instance/
.webassets-cache
scrapy/
celerybeat-schedule
celerybeat.pid
local_settings.py
db.sqlite3
db.sqlite3-journal
marimo/_static/
marimo/_lsp/
__marimo__/
.abstra/
